<header id="it-head" class="it-head">
    <nav class="it-head-inner it-container">
        <div class="it-head-brand">
            <h1>
                <a class="it-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </h1>
            <a class="it-burger" role="button">
                <div class="it-burger-box">
                    <div class="it-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="it-head-menu">
            {{navigation}}
        </div>
        <div class="it-head-actions">
            <div class="it-head-actions-list">
                	{{#if @member}}
                		<a class="account-link" href="{{@site.url}}/account/" title="{{t "Account"}}" >{{t "Account"}}</a>
                		<a class="sign-out" href="#signout" data-members-signout>{{t "Sign out"}}</a>
                	{{else}}
                		<a class="signin-link" href="{{@site.url}}/signin/">{{t "Signin"}}</a>
                	    <a class="signup-link" href="{{@site.url}}/signup/">{{t "Signup"}}</a>
                	{{/if}}
                <a class="search-link" href=":javascript" title="{{t "Search"}}" aria-label="{{t "Search"}}" data-ghost-search>{{> "icons/search"}}</a>
                <div class="it-dark-light">
                    <div class="icon-dark">
                        {{> icons/light}}
                    </div>
                    <div class="icon-light">
                        {{> icons/dark}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

