<footer class="it-foot">
    <div class="it-container">
        <div class="it-foot-inner">
            <div class="it-foot-brand">
                <h4>
                    <a class="it-foot-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </h4>
                {{#if @site.description}}
                    <p>{{@site.description}}</p>
                {{/if}}
            </div>
            <div class="it-foot-menu">
                <h4>{{t "Links"}}</h4>
                {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
               {{else}}
                   {{navigation}}
               {{/if}}
            </div>
            <div class="it-foot-tag">
                <h4>{{t "Tags"}}</h4>
                {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
        				<a href="{{url}}" title="{{title}}">{{name}}</a>
        			{{/foreach}}
    			{{/get}}
            </div>
            
            
            <div class="it-subscribe-section">
                {{#if @labs.members}}
                	<h4>{{t "Subscribe"}}</h4>
                	<p>Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
                	<div class="it-subscribe-content">
                		<form data-members-form="subscribe" class="subscribe-form">
                			<div class="input-wrapper">
                				<input type="email" class="subscribe-form-input" placeholder="Email" data-members-email="">
                				<button type="submit" class="subscribe-form-button">Subscribe</button>
                			</div>
                			<div class="message-success">Please check your inbox and click the link to confirm your subscription.</div>
                			<div class="message-error">An error occurred, please try again later.</div>
                		</form>
                	</div>
                {{/if}}
            </div>
            
            <div class="it-foot-meta">
                &copy; {{date format="YYYY"}} {{@site.title}} Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
            </div>
            <div class="it-foot-social">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener" aria-label="Facebook">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener" aria-label="Twitter">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener" aria-label="RSS">{{> "icons/rss"}}</a>
            </div>
        </div>
    </div>
</footer>
