<div class="it-popular-tags">
	{{#get "tags" limit="7" include="count.posts" order="count.posts desc"}}
    {{#foreach tags}}
    	{{#if @first}}
    		<a class="it-popular-tags-item first" title="name" href="{{ url }}" {{#if feature_image}}style="background-image:url('{{feature_image}}')"{{/if}}>
        <h2>
        	{{ name }}
        	<small>{{ count.posts }} Posts</small>
        </h2> 
         {{#if description}}
             <p>{{description}}</p>
          {{/if}}
        </a>
    	{{else}}
        <a class="it-popular-tags-item" title="name" href='{{ url }}'>
        {{ name }} <span>{{ count.posts }}</span>
        </a>
        
        {{/if}}
    {{/foreach}}
    {{/get}}
</div>
