<div class="it-popular-tags it-grid-c3">
	{{#get "tags" filter="slug:[{{@custom.featured_tag_slugs}}]" limit="all" include="count.posts" order="count.posts desc"}}
        {{#foreach tags}}
            <div class="it-popular-tags-item">
                <div class="it-popular-tags-title">
                     <a class="" title="{{name}}" href='{{ url }}'>
                        {{ name }}
                    </a>
                </div>
                <div class="it-tag-articles">
                    {{#get "posts" filter="tags:{{slug}}" limit="5" include="authors,tags" as |article_teaser|}}
                        {{#foreach article_teaser visibility="all"}}
                            <a class="it-tag-articles-teaser" title="{{title}}" href="{{url}}">
                                <div class="it-teaser-media">
                                    {{#if feature_image}}
                                        {{> "image" popular_tag=true picture_type="post"}}
                                    {{/if}}
                                </div>
                                <div class="it-teaser-content">
                                    <h3>{{title}} 
                                        <small><time datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time></small>
                                    </h3>
                                </div>
                            </a>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        {{/foreach}}
    {{/get}}
</div>
