<!DOCTYPE html>
<html lang="{{@site.lang}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/app.min.css"}}" />
    
        <title>{{meta_title}}</title>
        
        <script>
            var pagination_next_page_number       = '{{ pagination.next }}',
                pagination_available_pages_number = '{{ pagination.pages }}',
                api_url = '{{@site.url}}';
        </script>
        <script>
            if(typeof(Storage) !== 'undefined') {
               if (localStorage.getItem('selected-theme') == 'light') {
                   document.documentElement.setAttribute('data-theme', 'light');
               }
               else if (localStorage.getItem('selected-theme') == 'dark') {
                   document.documentElement.setAttribute('data-theme', 'dark');
               }
            }
        </script>
    
        {{ghost_head}}
        {{!-- Outputs SEO meta+structured data and important settings, should always be in <head> --}}
    </head>
    
    <body class="{{body_class}}">
        <div class="it-viewport">
            {{> "site-structure/site-header"}}
            <main class="it-main">
                {{{body}}}
                {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            </main>
            {{> "site-structure/site-footer"}}
        </div>
        {{> "membership/notifications"}} 
        {{> "site-structure/site-scripts"}} 
        {{ghost_foot}} {{!-- Outputs important scripts - should always be included before closing body tag --}}
    </body>
</html>