{{!< default}}

<div class="it-page">
    <div class="it-container">
        {{#tag}}
            <header class="it-header it-canvas">
            	{{#if feature_image}}
    	            <figure class="it-feature-image-wrapper">
    	                 {{>image picture_type="tag" card=false}}
    	            </figure>
    	        {{/if}}
    	       <h1 class="it-title" {{#if accent_color}}style="color: {{accent_color}};"{{/if}}>{{name}}</h1>
                <p class="it-excerpt">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        {{t "A collection of"}} {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </p>
            </header>
        {{/tag}}
        <div class="it-postfeed it-grid-c3">
            {{> "loop"}} {{!-- partials/loop.hbs --}}
        </div>
        {{pagination}} {{!-- partials/pagination.hbs --}}
    </div>
</div>
