<div class="it-notification subscribe">
    <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
    {{t "You've successfully subscribed to {sitetitle}" sitetitle=@site.title}}
</div>

<div class="it-notification signup">
    <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
     {{t "Great! Next, complete checkout for full access to {sitetitle}" sitetitle=@site.title}}
</div>

<div class="it-notification signin">
    <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
    {{t "Welcome back! You've successfully signed in."}}
</div>

<div class="it-notification checkout">
   <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
    {{t "Success! Your account is fully activated, you now have access to all content."}}
</div>

<div class="it-notification billing-update">
    <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
    {{t "Success! Your billing info is updated."}}
</div>

<div class="it-notification billing-update-cancel">
    <a class="it-notification-close" href="javascript:;" aria-label="Close">
        {{> icons/cancel}}
    </a>
    {{t "Billing info update failed."}}
</div>
