<div class="it-checkout-box it-grid-c2">
    <div class="it-checkout-plan">
      <header class="it-checkout-plan-header">
        <h3>{{t "Monthly"}}</h3>
        <span>{{price currency=currency}}</span><strong>{{price plan.amount}}</strong> / {{t "month"}}
      </header>
      <ul class="it-checkout-plan-content">
        <li>{{t "Full access to all private posts"}}</li>
        <li>{{t "Regular updates with new content"}}</li>
        <li>{{t "Support independent publishing"}}</li>
        <li>{{t "Simple, secure card payment"}}</li>
      </ul>
      <a class="it-button it-button-primary fit" href="javascript:void(0)" data-members-plan="Monthly">{{t "Choose this plan"}}</a>
    </div>
    <div class="it-checkout-plan">
      <header class="it-checkout-plan-header">
        <h3>{{t "Yearly"}}</h3>
        <span>{{price currency=@price.currency}}</span><strong>{{@price.monthly}}</strong> / {{t "year"}}
      </header>
      <ul class="it-checkout-plan-content">
        <li>{{t "Full access to all private posts"}}</li>
        <li>{{t "Regular updates with new content"}}</li>
        <li>{{t "Support independent publishing"}}</li>
        <li>{{t "Simple, secure card payment"}}</li>
        <li>{{t "One easy payment instead of 12!"}}</li>
      </ul>
      <a class="it-button it-button-primary fit" href="javascript:void(0)" data-members-plan="Yearly">{{t "Choose this plan"}}</a>
    </div>
  </div>